<!DOCTYPE html >
<html>
<head>
<title>VanishNoPacket - {{ page.title }}</title>
<link href="{{ site.url }}/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="background">
		<div id="page">

			<div class="header">
				<div class="footer">
					<div class="body">

						<div id="sidebar">
							<a href="{{ site.url }}/">
							<img id="logo" src="{{ site.url }}/images/logo.gif" width="154" height="74" /></a>


							<ul class="navigation">
								<li{% if page.menuitem == 'home' %} class="active"{% endif %}><a href="{{ site.url }}/">HOME</a></li>
								<li{% if page.menuitem == 'start' %} class="active"{% endif %}><a href="{{ site.url }}/start">GET STARTED</a></li>
								<li{% if page.menuitem == 'commands' %} class="active"{% endif %}><a href="{{ site.url }}/commands">COMMANDS</a></li>
								<li{% if page.menuitem == 'configuration' %} class="active"{% endif %}><a href="{{ site.url }}/configuration">CONFIGURATION</a></li>
								<li{% if page.menuitem == 'permissions' %} class="active"{% endif %}><a href="{{ site.url }}/permissions">PERMISSIONS</a></li>
								<li class="last{% if page.menuitem == 'help' %} active{% endif %}"><a href="{{ site.url }}/help">HELP</a></li>
							</ul>

							<div class="footenote">
								<span>&copy; Copyright &copy; 2012.</span>
								<span>Matt Baxter</span>
							</div>

						</div>
						<div id="content">
							<div class="{% if page.contype %}{{ page.contype }}{% else %}content{% endif %}">
								{{ content }}
						    </div>
						</div>
					</div>
				</div>
				<div class="shadow">&nbsp;</div>
			</div>
		</div>
	</div>
</body>
</html>
<!--  Website template by freewebsitetemplates.com  -->